<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">    
    <h2>Añadir nuevo proveedor</h2>
    <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Nombre</label>
          <input type="text" 
                 class="form-control"
                 id="nombre"
                 formControlName="nombre"
                 >
        </div>

        <div class="form-group">
          <label>C.I.F.</label>
          <input type="text" 
                 class="form-control"
                 id="cif"
                 formControlName="cif"
                >
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input type="text" 
                 class="form-control"
                 id="direccion"
                 formControlName="direccion"
                >
        </div>
        <div class="form-group">
          <label>Código Postal</label>
          <input type="text" 
                 class="form-control"
                 id="cp"
                 formControlName="cp"
                   >
        </div>
        <div class="form-group">
          <label>Localidad</label>
          <input type="text" 
                 class="form-control"
                 id="localidad"
                 formControlName="localidad" 
                  >
        </div>

        <div class="form-group">
          <label for="provincia">Provincia</label>
          <select class="form-control" 
                  id="provincia"
                  formControlName = "provincia"
                  >
                  <option value="">Seleccione la provincia</option> 
                  <option *ngFor="let provincia of provincias"
                  [value]="provincia">{{provincia}} </option> 
          </select>
        </div> 

        <div class="form-group">
          <label>Teléfono</label>
          <input type="number" 
                 class="form-control"
                 id="telefono"
                 formControlName = "telefono"
                 >
        </div>

        <div class="form-group">
          <label>Correo Electrónico</label>
          <input type="text" 
                 class="form-control"
                 id="email"
                 formControlName = "email"
          >
        </div>

        <div class="form-group">
          <label>Persona de contacto</label>
          <input type="text" 
                 class="form-control"
                 id="contacto"
                 formControlName = "contacto"
                 >
        </div>

        <button type="submit" 
              class="btn btn-primary"
              [disabled]="!proveedorForm.valid"
              >Añadir Presupuesto</button>
        <p class="alert alert-danger" *ngIf="!proveedorForm.valid">
          Por favor complete todos los campos
        </p> 
    </form>
    <pre>Status del formulario: {{ proveedorForm.status | json }}</pre>
    <pre>Valor del formulario: {{ proveedorForm.value | json }}</pre>
  </div>
</div>

