<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">  
      <h4>Digite datos</h4>

      <label for="inputEmail">Correo electronico</label>
      <input type="email"  
      class="form-control" id="inputEmail" autofocus
      formControlName="email">

      <label for="inputPass">Contraseña</label>
      <input type="password"  
      class="form-control" id="inputPass" autofocus
      formControlName="password">

      <hr>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Iniciar sesion</button>
    </form>
    <p class="alert alert-danger" *ngIf="mensaje">Usuario o contraseña incorrecta</p>
  </div>
  <div class="col col-md"></div>
</div>
